/* Styles
------------------------------------------------------------------------------------*/
@import "fonts.css";
/* Styles
------------------------------------------------------------------------------------*/
.shadow-off {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.clear {
  clear: both;
}
.spacer {
  height: 50px;
}
.pull-center {
  text-align: center !important;
}
.well-transprent {
  background-color: transparent !important;
}
.btn {
  background-image: none;
}
.gmap {
  max-width: 100%;
  line-height: 0;
  margin-bottom: 20px;
}
.video {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
a:active {
  outline: none;
}
body {
  padding: 0;
  background: #ececef url(../images/noise2.png);
  /*
background: -webkit-gradient(linear, 89% 97%, 11% 3%, color-stop(3%, rgba(122, 88, 54, 0.5)), color-stop(3.0%, transparent)), -webkit-gradient(linear, 73% 44%, 27% 56%, color-stop(7%, rgba(211, 47, 36, 0.5)), color-stop(7.0%, transparent)), -webkit-gradient(linear, 25% 6%, 75% 94%, color-stop(25%, rgba(8, 162, 225, 0.5)), color-stop(25.0%, transparent)), -webkit-gradient(linear, 75% 59%, 25% 41%, color-stop(67%, rgba(89, 10, 101, 0.5)), color-stop(67.0%, transparent)), -webkit-gradient(linear, 28% 94%, 72% 6%, color-stop(9%, rgba(236, 181, 236, 0.5)), color-stop(9.0%, transparent)), -webkit-gradient(linear, 52% 86%, 48% 14%, color-stop(47%, rgba(125, 64, 227, 0.5)), color-stop(47.0%, transparent)), -webkit-gradient(linear, 16% 93%, 84% 7%, color-stop(83%, rgba(140, 44, 156, 0.5)), color-stop(83.0%, transparent)), -webkit-gradient(linear, 42% 88%, 58% 12%, color-stop(69%, rgba(178, 210, 148, 0.5)), color-stop(69.0%, transparent)), -webkit-gradient(linear, 89% 86%, 11% 14%, color-stop(1%, rgba(51, 174, 71, 0.5)), color-stop(1.0%, transparent)), -webkit-gradient(linear, 66% 91%, 34% 9%, color-stop(44%, rgba(150, 10, 82, 0.5)), color-stop(44.0%, transparent)), white;
background: -webkit-linear-gradient(89% 97%, rgba(122, 88, 54, 0.5) 3%, transparent 3.0%), -webkit-linear-gradient(73% 44%, rgba(211, 47, 36, 0.5) 7%, transparent 7.0%), -webkit-linear-gradient(25% 6%, rgba(8, 162, 225, 0.5) 25%, transparent 25.0%), -webkit-linear-gradient(75% 59%, rgba(89, 10, 101, 0.5) 67%, transparent 67.0%), -webkit-linear-gradient(28% 94%, rgba(236, 181, 236, 0.5) 9%, transparent 9.0%), -webkit-linear-gradient(52% 86%, rgba(125, 64, 227, 0.5) 47%, transparent 47.0%), -webkit-linear-gradient(16% 93%, rgba(140, 44, 156, 0.5) 83%, transparent 83.0%), -webkit-linear-gradient(42% 88%, rgba(178, 210, 148, 0.5) 69%, transparent 69.0%), -webkit-linear-gradient(89% 86%, rgba(51, 174, 71, 0.5) 1%, transparent 1.0%), -webkit-linear-gradient(66% 91%, rgba(150, 10, 82, 0.5) 44%, transparent 44.0%), white;
background: -moz-linear-gradient(89% 97%, rgba(122, 88, 54, 0.5) 3%, transparent 3.0%), -moz-linear-gradient(73% 44%, rgba(211, 47, 36, 0.5) 7%, transparent 7.0%), -moz-linear-gradient(25% 6%, rgba(8, 162, 225, 0.5) 25%, transparent 25.0%), -moz-linear-gradient(75% 59%, rgba(89, 10, 101, 0.5) 67%, transparent 67.0%), -moz-linear-gradient(28% 94%, rgba(236, 181, 236, 0.5) 9%, transparent 9.0%), -moz-linear-gradient(52% 86%, rgba(125, 64, 227, 0.5) 47%, transparent 47.0%), -moz-linear-gradient(16% 93%, rgba(140, 44, 156, 0.5) 83%, transparent 83.0%), -moz-linear-gradient(42% 88%, rgba(178, 210, 148, 0.5) 69%, transparent 69.0%), -moz-linear-gradient(89% 86%, rgba(51, 174, 71, 0.5) 1%, transparent 1.0%), -moz-linear-gradient(66% 91%, rgba(150, 10, 82, 0.5) 44%, transparent 44.0%), white;
background: -o-linear-gradient(89% 97%, rgba(122, 88, 54, 0.5) 3%, transparent 3.0%), -o-linear-gradient(73% 44%, rgba(211, 47, 36, 0.5) 7%, transparent 7.0%), -o-linear-gradient(25% 6%, rgba(8, 162, 225, 0.5) 25%, transparent 25.0%), -o-linear-gradient(75% 59%, rgba(89, 10, 101, 0.5) 67%, transparent 67.0%), -o-linear-gradient(28% 94%, rgba(236, 181, 236, 0.5) 9%, transparent 9.0%), -o-linear-gradient(52% 86%, rgba(125, 64, 227, 0.5) 47%, transparent 47.0%), -o-linear-gradient(16% 93%, rgba(140, 44, 156, 0.5) 83%, transparent 83.0%), -o-linear-gradient(42% 88%, rgba(178, 210, 148, 0.5) 69%, transparent 69.0%), -o-linear-gradient(89% 86%, rgba(51, 174, 71, 0.5) 1%, transparent 1.0%), -o-linear-gradient(66% 91%, rgba(150, 10, 82, 0.5) 44%, transparent 44.0%), white;
background: linear-gradient(89% 97%, rgba(122, 88, 54, 0.5) 3%, transparent 3.0%), linear-gradient(73% 44%, rgba(211, 47, 36, 0.5) 7%, transparent 7.0%), linear-gradient(25% 6%, rgba(8, 162, 225, 0.5) 25%, transparent 25.0%), linear-gradient(75% 59%, rgba(89, 10, 101, 0.5) 67%, transparent 67.0%), linear-gradient(28% 94%, rgba(236, 181, 236, 0.5) 9%, transparent 9.0%), linear-gradient(52% 86%, rgba(125, 64, 227, 0.5) 47%, transparent 47.0%), linear-gradient(16% 93%, rgba(140, 44, 156, 0.5) 83%, transparent 83.0%), linear-gradient(42% 88%, rgba(178, 210, 148, 0.5) 69%, transparent 69.0%), linear-gradient(89% 86%, rgba(51, 174, 71, 0.5) 1%, transparent 1.0%), linear-gradient(66% 91%, rgba(150, 10, 82, 0.5) 44%, transparent 44.0%), white;
*/

}
@media (max-width: 767px) {
  .container {
    width: 620px;
  }
}
@media (max-width: 640px) {
  .container {
    width: 460px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 340px;
  }
}
@media (max-width: 360px) {
  .container {
    width: 300px;
  }
}
.wrapper {
  padding: 30px;
  position: relative;
  background-color: #ffffff;
}
[class^="iconm-"]:before,
[class*=" iconm-"]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  width: 16px;
  text-align: center;
}
a,
a:hover {
  text-decoration: none;
}
.top-social {
  float: right;
  margin-bottom: 0;
  margin-top: 30px;
}
.top-social li {
  float: left;
  list-style: none;
  margin-left: 1px;
}
.top-social li a {
  width: 16px;
  font-size: 16px;
  line-height: 1;
  color: #999999;
}
.top-social li a:hover {
  color: #000000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.top-social [class^="iconm-"]:before,
.top-social [class*=" iconm-"]:before,
.top-social [class^="icon-"]:before,
.top-social [class*=" icon-"]:before {
  width: auto;
}
.logo .logo-img {
  display: block;
  margin-bottom: 10px;
}
.logo .site-title,
.logo .site-title a {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  color: #ffffff;
}
.logo .sub-title {
  margin: 0;
  padding-left: 2px;
  letter-spacing: 0;
  color: #ffffff;
}
@media (max-width: 767px) {
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
}
#menu {
  background-color: #999999;
}
#menu a {
  display: block;
  color: #ffffff;
}
#menu ul {
  margin: 0;
}
#menu > ul {
  display: block;
}
#menu > ul > li {
  float: left;
  position: relative;
  list-style: none;
  height: 70px;
}
#menu > ul a {
  padding: 25px;
}
#menu > ul a.current {
  background-color: #e81123;
  height: 20px;
}
#menu > ul > li:hover > a,
#menu > ul li:hover,
#menu > ul a:hover {
	height: 20px;
  background-color: #ff991d !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#menu > ul a:hover .name,
#menu .current .name {
  color: #ffffff;
  
}
#menu ul ul {
  width: 160px;
  position: absolute;
  background-color: #252525;
}
#menu ul ul a {
  padding: 10px;
}
#menu ul ul a:hover {
  color: #ffffff;
}
#menu ul ul li {
  list-style: none;
  position: relative;
}
#menu li:hover {
  visibility: inherit;
}
#menu li:hover ul,
#menu li.sfHover ul {
  left: 0;
  top: 90px;
  z-index: 99;
}
#menu li li:hover ul,
#menu li li.sfHover ul {
  left: 160px;
  top: 0;
}
.res-menu {
  width: 100%;
  display: none;
}
@media (max-width: 979px) {
  #menu > ul a {
    padding: 25px;
  }
  #menu li.sfHover ul {
    top: 70px;
  }
}
@media (max-width: 767px) {
  #menu {
    float: none;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #999999;
  }
  #menu ul {
    display: none;
  }
  .res-menu {
    display: block;
    margin: 0;
  }
}
#slider {
  background-color: #555555;
}
.flexslider {
  position: relative;
}
.flexslider .slides {
  list-style: none;
  margin-left: 0;
}
.flexslider .slides li {
  position: relative;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides .slide-caption {
  font-family: Ubuntu, sans-serif;
  background-color: #e81123;
  color: #ffffff;
  padding: 20px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 50%;
  margin-left: -25%;
}
.loading .flex-viewport {
  max-height: 300px;
}
@media (max-width: 767px) {
  .slides .slide-caption {
    display: none;
  }
}
#layerslider {
  margin-bottom: 40px !important;
}
@media only screen and (min-width: 1200px) {
  #layerslider {
    margin-bottom: 70px !important;
  }
}
@media (max-width: 1199px) {
  #layerslider {
    margin-bottom: 55px !important;
  }
  #layerslider .ls-bottom-nav-wrapper {
    margin-top: -100px;
  }
}
@media (max-width: 979px) {
  #layerslider {
    margin-bottom: 40px !important;
  }
  #layerslider .ls-bottom-nav-wrapper {
    margin-top: -90px;
  }
}
@media (max-width: 768px) {
  #layerslider .ls-bottom-nav-wrapper {
    margin-top: -80px;
  }
}
@media (max-width: 640px) {
  #layerslider {
    margin-bottom: 20px !important;
  }
  #layerslider .ls-thumbnail-wrapper {
    display: none;
  }
  #layerslider .ls-bottom-nav-wrapper {
    margin-top: -10px;
  }
}
.ls-layer,
.ls-layer * {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif;
  white-space: nowrap;
  font-weight: normal;
}
.l1-s1 {
  color: #ecffb3;
  text-shadow: 0px 2px 3px #546223;
  font-size: 60px;
}
.l1-s1b {
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
  font-size: 60px;
}
.l1-s2 {
  color: #ecffb3;
  text-shadow: 0px 2px 3px #546223;
  font-size: 90px;
}
.l1-s2b {
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
  font-size: 90px;
}
.l1-s3 {
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0px 4px 10px -5px #000000;
  color: white;
  text-shadow: none;
  font-size: 28px;
  background: #8bae4e;
  background: -moz-linear-gradient(left, #8bae4e 0%, #b1c758 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8bae4e), color-stop(100%, #b1c758));
  background: -webkit-linear-gradient(left, #8bae4e 0%, #b1c758 100%);
  background: -o-linear-gradient(left, #8bae4e 0%, #b1c758 100%);
  background: -ms-linear-gradient(left, #8bae4e 0%, #b1c758 100%);
  background: linear-gradient(to right, #8bae4e 0%, #b1c758 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8bae4e', endColorstr='#b1c758', GradientType=1);
}
.l1-s4 {
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0px 4px 10px -5px #000000;
  color: white;
  text-shadow: none;
  font-size: 28px;
  color: #4f6716;
  background: white;
}
.l2-s1 {
  padding: 0px 10px;
  height: 36px;
  line-height: 36px;
  color: white;
  text-shadow: none;
  font-size: 25px;
  background: #98b3c7;
  background: -moz-linear-gradient(left, #98b3c7 0%, #77b8e9 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #98b3c7), color-stop(100%, #77b8e9));
  background: -webkit-linear-gradient(left, #98b3c7 0%, #77b8e9 100%);
  background: -o-linear-gradient(left, #98b3c7 0%, #77b8e9 100%);
  background: -ms-linear-gradient(left, #98b3c7 0%, #77b8e9 100%);
  background: linear-gradient(to right, #98b3c7 0%, #77b8e9 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#98b3c7', endColorstr='#77b8e9', GradientType=1);
}
.l2-s2 {
  padding: 0px 10px;
  height: 36px;
  line-height: 36px;
  color: white;
  text-shadow: none;
  font-size: 25px;
  background: #cd9084;
  background: -moz-linear-gradient(left, #cd9084 0%, #ce533d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #cd9084), color-stop(100%, #ce533d));
  background: -webkit-linear-gradient(left, #cd9084 0%, #ce533d 100%);
  background: -o-linear-gradient(left, #cd9084 0%, #ce533d 100%);
  background: -ms-linear-gradient(left, #cd9084 0%, #ce533d 100%);
  background: linear-gradient(to right, #cd9084 0%, #ce533d 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cd9084', endColorstr='#ce533d', GradientType=1);
}
.l4-s1 {
  padding: 0px 10px;
  height: 36px;
  line-height: 36px;
  color: white;
  text-shadow: none;
  font-size: 25px;
  background: #036d99;
}
.l4-s2 {
  background: #5a96b4;
}
.l5-s1 {
  padding: 15px;
  background: #ff9933;
  border-radius: 5px;
  moz-border-radius: 5px;
  webkit-border-radius: 5px;
  color: white;
  text-shadow: 0px -1px 0px #985a1d;
  font-size: 16px;
  font-weight: bold;
  line-height: auto;
  box-shadow: 0px 3px 10px -2px #000000;
}
.layer2 p {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  padding: 0px 10px;
  box-shadow: 0px 1px 8px -2px #000000;
  text-shadow: none;
  color: white;
}
.l3-s1 {
  color: #f8dfcf;
  background: #b0734d;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0px 2px 20px -3px #000000;
  padding: 0px 20px;
  text-shadow: none;
}
.flex-direction-nav {
  position: absolute;
  margin-left: 0;
  left: 0;
  right: 0;
  bottom: 49%;
  width: 100%;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity = 100);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav li {
  list-style: none;
}
.flex-direction-nav a {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 90px;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav .flex-prev {
  background: url('../images/arrow-slider-left.png') no-repeat 50% 50%;
  left: 0;
  background-color: #000000;
}
.flex-direction-nav .flex-prev:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity = 100);
  opacity: 1;
  background-color: #e81123;
}
.flex-direction-nav .flex-next {
  background: url('../images/arrow-slider-right.png') no-repeat 50% 50%;
  right: 0;
  background-color: #000000;
}
.flex-direction-nav .flex-next:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity = 100);
  opacity: 1;
  background-color: #e81123;
}
.flex-direction-nav .flex-disabled {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity = 30);
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  .flex-direction-nav {
    top: 0;
    height: 100%;
  }
  .flex-direction-nav a {
    height: 100%;
  }
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 14px;
  text-align: center;
  margin-left: 0;
}
.flex-control-nav li {
  margin: 0 10px;
  display: inline-block;
}
.flex-control-paging li a {
  background-color: #000000;
  text-indent: -9999px;
  cursor: pointer;
  display: block;
  width: 20px;
  height: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
  background-color: #e81123;
}
@media screen and (max-width: 767px) {
  .flex-control-nav {
    display: none;
  }
}
section.breadcrumbs {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 30px;
}
section.breadcrumbs > .container {
  margin-bottom: 30px;
}
section.breadcrumbs .page-header {
  margin: 0;
  padding: 0;
  border: 0;
}
section.breadcrumbs .page-header h1 {
  margin: 0;
  padding: 0 10px 10px 30px;
  font-size: 24.5px;
}
section.breadcrumbs .breadcrumbs {
  font-style: italic;
  font-size: 85%;
  text-align: right;
  padding: 0 30px 0 0;
}
section.breadcrumbs .breadcrumbs div {
  padding-bottom: 15px;
}
section.breadcrumbs .table {
  display: table;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  border-bottom: solid 1px #eeeeee;
}
section.breadcrumbs .table .table-cell {
  display: table-cell;
  vertical-align: bottom;
}
.the-icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
.the-icons li [class^="iconm-"],
.the-icons li [class*=" iconm-"],
.the-icons li [class^="icon-"],
.the-icons li [class*=" icon-"] {
  width: 0.8em;
}
#filtrable {
  margin-left: 0;
}
#filtrable li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  list-style: none;
}
#filtrable a {
  display: inline-block;
  padding: 7px 15px;
  background-color: #006ac1;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#filtrable a:hover {
  background-color: #4e0038;
}
#filtrable .current a {
  background-color: #b01e00;
}
.portfolio {
  margin-top: 30px;
}
.portfolio article {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: transparent;
  color: #ffffff;
}
.portfolio article:hover {
  background: #333333 !important;
  color: #999999 !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.portfolio article:hover .title a {
  color: #000000;
  display: block;
}
.portfolio article:hover .title a:hover {
  color: #f4b300;
}
.portfolio article:hover .sliding {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity = 100);
  opacity: 1;
}
.portfolio article:hover .sliding .inner-text {
  padding: 0 4px 4px 4px;
}
.portfolio article:hover .sliding .inner-text .title {
  padding: 5px;
  margin: 0;
  background-color: #555555;
}
.portfolio article:hover .sliding .inner-text .title a {
  color: #ffffff;
}
.portfolio article .title a {
  color: #ffffff;
}
.portfolio .inner-image {
  position: relative;
  padding: 4px;
}
.portfolio .inner-image a,
.portfolio .inner-image img {
  position: relative;
  display: block;
}
.portfolio .inner-text {
  padding: 0 10px;
}
.portfolio .sliding {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.portfolio-extended article {
  background-color: #ffffff;
  color: #333333;
}
.portfolio-extended article .title a {
  color: #333333;
}
.portfolio-extended article:hover .title a {
  color: #eeeeee;
}
@media (max-width: 980px) {
  .single-portfolio .flexslider {
    margin-bottom: 30px;
  }
  .single-portfolio .span8,
  .single-portfolio .span4 {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
.thumbnails .inner-text {
  padding: 0 20px;
}
.thumbnails li {
  position: relative;
  overflow: hidden;
}
.thumbnails li:hover .sliding {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity = 70);
  opacity: 0.7;
}
.thumbnails li .sliding {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tiled .span6 {
  margin-bottom: 20px;
}
.tiled .span6 .inner-image a {
  height: 312px;
  overflow: hidden;
}
.tiled .span3 {
  margin-bottom: 20px;
}
.tiled .span3 .inner-image a {
  height: 142px;
  overflow: hidden;
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
  .tiled .span6 {
    margin-bottom: 20px;
  }
  .tiled .span6 .inner-image a {
    height: 230px;
  }
  .tiled .span3 {
    margin-bottom: 20px;
  }
  .tiled .span3 .inner-image a {
    height: 101px;
  }
  .tiled .span2 .inner-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .tiled .span2 {
    display: none;
  }
  .tiled .span6 .inner-image a,
  .tiled .span3 .inner-image a {
    height: 410px;
  }
}
@media (max-width: 640px) {
  .tiled .span6 .inner-image a,
  .tiled .span3 .inner-image a {
    height: 290px;
  }
}
@media (max-width: 480px) {
  .tiled .span6 .inner-image a,
  .tiled .span3 .inner-image a {
    height: 200px;
  }
}
@media (max-width: 360px) {
  .tiled .span6 .inner-image a,
  .tiled .span3 .inner-image a {
    height: 170px;
  }
}
.tiled.first {
  margin-top: 0;
}
.media a,
.thumbnail {
  position: relative;
}
.media .frame-overlay,
.thumbnail .frame-overlay,
.portfolio article .frame-overlay {
  background-color: #ffffff;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity = 0);
  opacity: 0;
}
.media a:hover .frame-overlay,
.thumbnail:hover .frame-overlay,
.portfolio article:hover .frame-overlay {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity = 50);
  opacity: 0.5;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.member-info .member-name {
  margin-bottom: 0;
}
.member-info .member-possition {
  font-size: 12px;
}
.member-info .member-social {
  font-size: 32px;
}
.member-info .member-social a {
  display: inline-block;
  margin-right: 15px;
  color: #999999;
}
.member-info .member-social a:hover {
  color: #ff7d23;
}
.member-info article:hover .member-name {
  color: #ffffff;
}
.member-info article:hover .member-social a {
  color: #eeeeee;
}
.pricing .well {
  padding: 0;
  text-align: center;
}
.pricing .well .well {
  padding: 10px;
  margin-bottom: 0;
  background-color: transparent;
}
.pricing .pricing-plan {
  margin: 0;
  padding: 20px 0;
  font-size: 24px;
}
.pricing .pricing-price {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  color: #ffffff;
  background-color: #999999;
}
.pricing .pricing-price small {
  display: block;
  color: #ffffff;
}
.pricing .pricing-list {
  list-style-type: none;
  margin-left: 0;
}
.pricing .pricing-list li {
  padding: 20px 0;
}
.pricing .featured {
  background-color: #80aaec;
  color: #ffffff;
}
.pricing .featured .pricing-price {
  background-color: #1b58b8;
  color: #ffffff;
}
.service {
  overflow: hidden;
  margin-bottom: 20px;
}
.service .well {
  padding-top: 1px;
}
.service > .well {
  margin-bottom: 1px;
}
.service .service-desc {
  overflow: hidden;
}
.service .service-icon {
  float: left;
  padding: 10px 20px;
  width: 100px;
  height: 100px;
  font-size: 100px;
  line-height: 1;
  color: #2673ec;
}
@media (max-width: 980px) {
  .service .service-icon {
    width: 50px;
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .service .service-icon {
    float: none;
    margin-left: 25%;
    width: 50%;
    height: auto;
  }
}
.pagination ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pagination a {
  margin-right: 10px;
  border: none;
}
.pagination ul > li > a,
.pagination ul > li > span {
  padding: 10px 15px;
  border: none;
  background-color: #6ca0f2;
  color: #ffffff;
}
.pagination ul > li > a:hover {
  background-color: #2673ec;
  color: #ffffff;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #125bcd;
  color: #ffffff;
}
.pagination ul > .disabled > a,
.pagination ul > .disabled > span {
  background-color: #888888;
  color: #ffffff;
}
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > span:hover {
  background-color: #888888;
  color: #ffffff;
}
#footer {
  color: #eeeeee;
  background-color: #555555;
  margin-top: 30px;
  margin-bottom: 50px;
}
#footer .wrapper {
  background-color: transparent;
}
#footer .heading {
  color: #eeeeee;
}
#footer a {
  color: #ff7d23;
}
#footer a:hover {
  color: #f4b300;
  border-bottom: solid 1px #ff7d23;
}
#footer .footer-navigate {
  list-style: none;
  margin-left: 0;
}
#footer .footer-navigate li a {
  display: block;
  padding: 5px 0;
}
#footer-menu {
  margin-top: 20px;
  padding: 20px 0 0 0;
  color: #eeeeee;
  border-top: solid 1px #999999;
}
#footer-menu .wrapper {
  background-color: transparent;
}
#footer-menu ul {
  list-style-type: none;
  margin: 0;
}
#footer-menu li {
  float: left;
  margin-left: 10px;
}
#footer-menu a {
  color: #ff7d23;
}
#footer-menu a:hover {
  color: #f4b300;
  border-bottom: solid 1px #ff7d23;
}
#footer-menu .copyright {
  font-size: 12px;
  margin-bottom: 0;
}
#footer-menu .row-fluid [class*="span"] {
  min-height: 20px;
}
#page-sidebar,
#sidebar {
  margin-top: 30px;
}
#page-sidebar .widget,
#sidebar .widget {
  margin-bottom: 30px;
}
#page-sidebar .widget-title,
#sidebar .widget-title {
  margin-top: 0;
  margin-left: -30px;
  margin-right: -30px;
  padding: 0 30px 10px 30px;
  border-bottom: solid 1px #eeeeee;
}
#page-sidebar .accordion,
#sidebar .accordion {
  margin-bottom: 0;
}
#page-sidebar .nav-tabs,
#sidebar .nav-tabs {
  margin-bottom: 0;
  border-bottom: none;
}
#page-sidebar .nav-tabs li,
#sidebar .nav-tabs li {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
#page-sidebar .nav-tabs li a,
#sidebar .nav-tabs li a {
  font-weight: 300;
}
#page-sidebar .nav-tabs > li > a,
#sidebar .nav-tabs > li > a {
  background-color: #FAFAFA;
  border-color: #ddd;
  border-bottom: none;
}
#page-sidebar .nav-tabs > li > a:hover,
#sidebar .nav-tabs > li > a:hover {
  background-color: #ddd;
  border-color: #ddd;
  border-bottom: none;
}
#page-sidebar .nav-tabs > .active > a,
#sidebar .nav-tabs > .active > a,
#page-sidebar .nav-tabs > .active > a:hover,
#sidebar .nav-tabs > .active > a:hover {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom: none;
}
.categories-widget ul {
  list-style: none;
  margin: 0 -30px;
}
.categories-widget ul li a {
  display: block;
  padding: 10px 30px;
}
.categories-widget ul li a:hover {
  color: #ffffff;
  background-color: #1faeff;
}
#search {
  position: relative;
  margin: 0;
}
#search input[type="text"] {
  width: 100%;
  background-color: #696969;
  border-color: #696969;
  color: #ffffff;
}
#search input[type="text"]:focus,
#search input[type="text"]:hover {
  background-color: #1faeff;
  border-color: #1faeff;
}
#search .search-bt {
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  position: absolute;
  cursor: pointer;
  border: none !important;
  z-index: 2;
  background: #696969 url('../images/search-bt.png') no-repeat center center;
}
#search .search-bt:hover {
  background-color: #1faeff;
}
.accordion-heading {
  background-color: #1faeff;
}
.accordion-heading:hover {
  background-color: #006ac1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion-toggle {
  color: #ffffff;
}
.accordion-toggle:hover {
  color: #ffffff;
}
.accordion-group {
  background-color: #ffffff;
  border: 0;
}
#sidebar .accordion {
  margin: 0 -30px;
}
.tags a {
  display: inline-block;
  padding: 4px 10px;
  margin: 0 3px 5px 0;
  color: #ffffff;
  background-color: #e56c19;
}
.tags a:hover {
  background-color: #ae113d;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tags a i {
  width: 16px;
  text-align: center;
  margin-right: 5px;
}
.testimonials p,
.testimonials h4 {
  margin-left: 70px;
}
.testimonials img {
  float: left;
  margin-bottom: 10px;
}
.testimonials small {
  display: block;
  font-size: 11px;
}
.twitter a {
  color: #e56c19;
  border-bottom: solid 1px transparent;
}
.twitter a:hover {
  color: #ae113d;
  border-bottom: solid 1px #ae113d;
}
.twitter .tweet_avatar,
.twitter .tweet_avatar img {
  display: block;
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0 15px 0 0;
  background-color: #999999;
}
.twitter .tweet_avatar:hover img,
.twitter .tweet_avatar img:hover img {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity = 30);
  opacity: 0.3;
}
.twitter .tweet_time {
  display: block;
}
.twitter dt {
  width: 45px;
  float: left;
  display: none;
}
.twitter dd {
  margin-left: 0;
}
.twitter dl {
  padding-bottom: 0;
  margin-bottom: 0;
}
.twitter dl:last-child {
  border: none;
}
#footer .twitter .tweet_list dl {
  margin-top: 0;
}
.sidebar-flickr {
  list-style: none;
  margin-left: 0;
  margin-right: -10px;
  margin-bottom: -10px;
}
.sidebar-flickr li {
  float: left;
  margin: 0 10px 10px 0;
}
.sidebar-flickr a,
.sidebar-flickr a img {
  display: block;
  width: 100%;
  position: relative;
}
.sidebar-flickr .thumbnail {
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
}
.sidebar-flickr .thumbnail:hover {
  border-color: #e56c19;
  background-color: #e56c19;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flickr {
  margin-left: 0;
}
.flickr li {
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
  line-height: 0 !important;
}
.flickr a,
.flickr a img {
  display: block;
}
.blog-post {
  margin-bottom: 60px;
}
.blog-post .span2 {
  text-align: center;
  background-color: #e56c19;
  color: #ffffff;
}
.blog-post .span2 a {
  color: #ffffff;
  display: block;
  padding: 20px 0;
}
.blog-post .span2 a:hover {
  background-color: #ae113d;
}
.blog-post .span10 {
  border-top: solid 2px #e56c19;
}
.blog-post .post-meta-date span {
  display: block;
}
.blog-post .post-meta-date .line1 {
  font-size: 14px;
}
.blog-post .post-meta-date .line2 {
  font-size: 17.5px;
  font-weight: bold;
}
.blog-post .read-more {
  color: #e56c19;
  border-bottom: solid 1px transparent;
}
.blog-post .read-more:hover {
  color: #ae113d;
  border-bottom: solid 1px #ae113d;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.post-title {
  margin-top: 10px;
}
.post-title a {
  color: #000000;
}
.post-title a:hover {
  color: #e56c19;
}
.post-meta {
  overflow: hidden;
  margin-left: 0;
  margin-bottom: 30px;
  font-size: 11px;
  font-style: italic;
}
.post-meta li {
  float: left;
  margin-right: 15px;
  list-style: none;
}
.post-meta-label {
  font-weight: bold;
}
.post-media {
  margin-bottom: 15px;
}
#af-form textarea {
  height: 160px !important;
  overflow: auto;
  resize: none;
}
#af-form input.error,
#af-form textarea.error {
  border: 1px solid #e81123;
}
#af-form .af-outer {
  margin-bottom: 15px;
}
label.error,
label.ferror {
  color: #e81123;
  font-size: 13px;
}
#progress {
  margin-top: 15px;
}
.comments .comment {
  margin-bottom: 20px;
}
.comments .textarea {
  position: relative;
}
.comments .avatar {
  position: relative;
  float: left;
}
.comments .meta {
  float: left;
  margin: 0 15px;
  border-bottom: 1px solid #eeeeee;
}
.comments .comments-list {
  margin-left: 0;
  margin-bottom: 20px;
}
.comments li {
  list-style: none;
}
.image-icon {
  padding: 10px;
  text-align: center;
}
.image-icon [class^="iconm-"],
.image-icon [class*=" iconm-"],
.image-icon [class^="icon-"],
.image-icon [class*=" icon-"] {
  width: 100px;
  height: 100px;
  font-size: 100px;
  line-height: 1;
  margin-top: 20px;
  display: inline-block;
}
.image-icon [class^="iconm-"]:before,
.image-icon [class*=" iconm-"]:before,
.image-icon [class^="icon-"]:before,
.image-icon [class*=" icon-"]:before {
  width: 100px;
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  .hero-unit {
    padding: 40px;
  }
}
@media (max-width: 480px) {
  .hero-unit {
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  .hero-unit h1 {
    font-size: 26px;
    line-height: 2;
  }
}
#toTop {
  background: rgba(0, 0, 0, 0.7) url('../images/totop.png') no-repeat scroll 50% 50%;
  color: #ffffff;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  overflow: hidden;
  height: 50px;
  width: 90px;
  text-decoration: none;
  text-indent: -999px;
}
#toTop:active,
#toTop:focus {
  outline: none;
  background-color: #00c13f;
}
#toTopHover {
  background: #00c13f url('../images/totop.png') no-repeat scroll 50% 50%;
  display: block;
  overflow: hidden;
  float: left;
  height: 50px;
  width: 90px;
  opacity: 0;
}
.mc-1 {
  background-color: #252525;
  border-color: #f4b300;
  color: #ffffff;
}
.mc-2 {
  background-color: #252525;
  border-color: #78ba00;
  color: #ffffff;
}
.mc-3 {
  background-color: #252525;
  border-color: #2673ec;
  color: #ffffff;
}
.mc-4 {
  background-color: #252525;
  border-color: #ae113d;
  color: #ffffff;
}
.mc-5 {
  background-color: #2e1700;
  border-color: #632f00;
  color: #ffffff;
}
.mc-6 {
  background-color: #4e0000;
  border-color: #b01e00;
  color: #ffffff;
}
.mc-7 {
  background-color: #4e0038;
  border-color: #c1004f;
  color: #ffffff;
}
.mc-8 {
  background-color: #2d004e;
  border-color: #4617b4;
  color: #ffffff;
}
.mc-9 {
  background-color: #001e4e;
  border-color: #006ac1;
  color: #ffffff;
}
.mc-10 {
  background-color: #004d60;
  border-color: #008287;
  color: #ffffff;
}
.mc-11 {
  background-color: #004a00;
  border-color: #199900;
  color: #ffffff;
}
.mc-12 {
  background-color: #15992a;
  border-color: #00c13f;
  color: #ffffff;
}
.mc-13 {
  background-color: #e56c19;
  border-color: #ff981d;
  color: #ffffff;
}
.mc-14 {
  background-color: #b81b1b;
  border-color: #ff2e12;
  color: #ffffff;
}
.mc-15 {
  background-color: #b81b6c;
  border-color: #ff1d77;
  color: #ffffff;
}
.mc-16 {
  background-color: #691bb8;
  border-color: #aa40ff;
  color: #ffffff;
}
.mc-17 {
  background-color: #1b58b8;
  border-color: #1faeff;
  color: #ffffff;
}
.mc-18 {
  background-color: #569ce3;
  border-color: #56c5ff;
  color: #ffffff;
}
.mc-19 {
  background-color: #00aaaa;
  border-color: #00d8cc;
  color: #ffffff;
}
.mc-20 {
  background-color: #83ba1f;
  border-color: #91d100;
  color: #ffffff;
}
.mc-21 {
  background-color: #d39d09;
  border-color: #e1b700;
  color: #ffffff;
}
.mc-22 {
  background-color: #e064b7;
  border-color: #ff76bc;
  color: #ffffff;
}
.mc-23 {
  background-color: #696969;
  border-color: #00a4a4;
  color: #ffffff;
}
.mc-24 {
  background-color: #696969;
  border-color: #ff7d23;
  color: #ffffff;
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
.page-center{
  margin-left: auto;
  margin-right: auto;
}
.ccent{
  text-align: center;
}