﻿@font-face {
    font-family: 'IcoMoon';
    src: url('../font/IcoMoon.eot');
    src: url('../font/IcoMoon.eot?#iefix') format('embedded-opentype'),
    url('../font/IcoMoon.svg#IcoMoon') format('svg'),
    url('../font/IcoMoon.woff') format('woff'),
    url('../font/IcoMoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {font-family: 'IcoMoon';
    content: attr(data-icon);
    speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="iconm-"]:before, [class*=" iconm-"]:before {
    font-family: 'IcoMoon';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    speak: none;
}
a [class^="iconm-"], a [class*=" iconm-"] {
    display: inline-block;
    text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
    vertical-align: top;
    font-size: 1.3333333333333333em;
}
.btn [class^="iconm-"], .btn [class*=" iconm-"] {
    /* keeps button heights with and without icons the same */
    line-height: .9em;
}
li [class^="iconm-"], li [class*=" iconm-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}
li .icon-large[class^="iconm-"], li .icon-large[class*=" iconm-"] {
    /* 1.5 increased font size for icon-large * 1.25 width */
    width: 1.875em;
}
li[class^="iconm-"], li[class*=" iconm-"] {
    margin-left: 0;
    list-style-type: none;
}
li[class^="iconm-"]:before, li[class*=" iconm-"]:before {
    text-indent: -2em;
    text-align: center;
}
li[class^="iconm-"].icon-large:before, li[class*=" iconm-"].icon-large:before {
    text-indent: -1.3333333333333333em;
}


.iconm-home:before {content: "\0021";}
.iconm-home-2:before {content: "\0022";}
.iconm-home-3:before {content: "\0023";}
.iconm-newspaper:before {content: "\0024";}
.iconm-pencil:before {content: "\0025";}
.iconm-pencil-2:before {content: "\0026";}
.iconm-droplet:before {content: "\0027";}
.iconm-picture:before {content: "\0028";}
.iconm-picture-2:before {content: "\0029";}
.iconm-camera:before {content: "\002a";}
.iconm-music:before {content: "\002b";}
.iconm-play:before {content: "\002c";}
.iconm-film:before {content: "\002d";}
.iconm-camera-2:before {content: "\002e";}
.iconm-spades:before {content: "\002f";}
.iconm-clubs:before {content: "\0030";}
.iconm-diamonds:before {content: "\0031";}
.iconm-broadcast:before {content: "\0032";}
.iconm-microphone:before {content: "\0033";}
.iconm-book:before {content: "\0034";}
.iconm-paper:before {content: "\0035";}
.iconm-paper-2:before {content: "\0036";}
.iconm-new:before {content: "\0037";}
.iconm-copy:before {content: "\0038";}
.iconm-folder:before {content: "\0039";}
.iconm-folder-2:before {content: "\003a";}
.iconm-tag:before {content: "\003b";}
.iconm-cart:before {content: "\003c";}
.iconm-basket:before {content: "\003d";}
.iconm-calculate:before {content: "\003e";}
.iconm-support:before {content: "\003f";}
.iconm-phone:before {content: "\0040";}
.iconm-mail:before {content: "\0041";}
.iconm-location:before {content: "\0042";}
.iconm-compass:before {content: "\0043";}
.iconm-history:before {content: "\0044";}
.iconm-clock:before {content: "\0045";}
.iconm-bell:before {content: "\0046";}
.iconm-bell-2:before {content: "\0047";}
.iconm-bell-3:before {content: "\0048";}
.iconm-calendar:before {content: "\0049";}
.iconm-mouse:before {content: "\004a";}
.iconm-screen:before {content: "\004b";}
.iconm-laptop:before {content: "\004c";}
.iconm-mobile:before {content: "\004d";}
.iconm-tablet:before {content: "\004e";}
.iconm-mobile-2:before {content: "\004f";}
.iconm-drawer:before {content: "\0050";}
.iconm-drawer-2:before {content: "\0051";}
.iconm-box-add:before {content: "\0052";}
.iconm-box-remove:before {content: "\0053";}
.iconm-database:before {content: "\0054";}
.iconm-undo:before {content: "\0055";}
.iconm-redo:before {content: "\0056";}
.iconm-forward:before {content: "\0057";}
.iconm-reply:before {content: "\0058";}
.iconm-reply-2:before {content: "\0059";}
.iconm-comments:before {content: "\005a";}
.iconm-comments-2:before {content: "\005b";}
.iconm-comments-3:before {content: "\005c";}
.iconm-comments-4:before {content: "\005d";}
.iconm-comments-5:before {content: "\005e";}
.iconm-comments-6:before {content: "\005f";}
.iconm-user:before {content: "\0060";}
.iconm-user-2:before {content: "\0061";}
.iconm-user-3:before {content: "\0062";}
.iconm-busy:before {content: "\0063";}
.iconm-loading:before {content: "\0064";}
.iconm-loading-2:before {content: "\0065";}
.iconm-search:before {content: "\0066";}
.iconm-search-2:before {content: "\0067";}
.iconm-zoom-in:before {content: "\0068";}
.iconm-zoom-out:before {content: "\0069";}
.iconm-key:before {content: "\006a";}
.iconm-key-2:before {content: "\006b";}
.iconm-locked:before {content: "\006c";}
.iconm-unlocked:before {content: "\006d";}
.iconm-wrench:before {content: "\006e";}
.iconm-equalizer:before {content: "\006f";}
.iconm-cog:before {content: "\0070";}
.iconm-pie:before {content: "\0071";}
.iconm-bars:before {content: "\0072";}
.iconm-stats-up:before {content: "\0073";}
.iconm-gift:before {content: "\0074";}
.iconm-trophy:before {content: "\0075";}
.iconm-diamond:before {content: "\0076";}
.iconm-coffee:before {content: "\0077";}
.iconm-rocket:before {content: "\0078";}
.iconm-meter-slow:before {content: "\0079";}
.iconm-meter-medium:before {content: "\007a";}
.iconm-meter-fast:before {content: "\007b";}
.iconm-dashboard:before {content: "\007c";}
.iconm-fire:before {content: "\007d";}
.iconm-lab:before {content: "\e000";}
.iconm-remove:before {content: "\e001";}
.iconm-remove-2:before {content: "\e002";}
.iconm-remove-3:before {content: "\e003";}
.iconm-briefcase:before {content: "\e004";}
.iconm-briefcase-2:before {content: "\e005";}
.iconm-cars:before {content: "\e006";}
.iconm-bus:before {content: "\e007";}
.iconm-cube:before {content: "\e008";}
.iconm-cube-2:before {content: "\e009";}
.iconm-puzzle:before {content: "\e00a";}
.iconm-glasses:before {content: "\e00b";}
.iconm-glasses-2:before {content: "\e00c";}
.iconm-accessibility:before {content: "\e00d";}
.iconm-accessibility-2:before {content: "\e00e";}
.iconm-target:before {content: "\e00f";}
.iconm-target-2:before {content: "\e010";}
.iconm-lightning:before {content: "\e011";}
.iconm-power:before {content: "\e012";}
.iconm-power-2:before {content: "\e013";}
.iconm-clipboard:before {content: "\e014";}
.iconm-clipboard-2:before {content: "\e015";}
.iconm-playlist:before {content: "\e016";}
.iconm-grid-view:before {content: "\e017";}
.iconm-tree-view:before {content: "\e018";}
.iconm-menu:before {content: "\e019";}
.iconm-menu-2:before {content: "\e01a";}
.iconm-cloud:before {content: "\e01b";}
.iconm-cloud-2:before {content: "\e01c";}
.iconm-download:before {content: "\e01d";}
.iconm-upload:before {content: "\e01e";}
.iconm-upload-2:before {content: "\e01f";}
.iconm-link:before {content: "\e020";}
.iconm-link-2:before {content: "\e021";}
.iconm-flag:before {content: "\e022";}
.iconm-flag-2:before {content: "\e023";}
.iconm-flag-3:before {content: "\e024";}
.iconm-eye:before {content: "\e025";}
.iconm-eye-2:before {content: "\e026";}
.iconm-bookmark:before {content: "\e027";}
.iconm-bookmark-2:before {content: "\e028";}
.iconm-star:before {content: "\e029";}
.iconm-star-2:before {content: "\e02a";}
.iconm-star-3:before {content: "\e02b";}
.iconm-heart:before {content: "\e02c";}
.iconm-heart-2:before {content: "\e02d";}
.iconm-thumbs-up:before {content: "\e02e";}
.iconm-thumbs-down:before {content: "\e02f";}
.iconm-happy:before {content: "\e030";}
.iconm-smiley:before {content: "\e031";}
.iconm-neutral:before {content: "\e032";}
.iconm-plus:before {content: "\e033";}
.iconm-minus:before {content: "\e034";}
.iconm-help:before {content: "\e035";}
.iconm-help-2:before {content: "\e036";}
.iconm-info:before {content: "\e037";}
.iconm-blocked:before {content: "\e038";}
.iconm-cancel:before {content: "\e039";}
.iconm-cancel-2:before {content: "\e03a";}
.iconm-cancel-3:before {content: "\e03b";}
.iconm-checkmark:before {content: "\e03c";}
.iconm-minus-2:before {content: "\e03d";}
.iconm-plus-2:before {content: "\e03e";}
.iconm-enter:before {content: "\e03f";}
.iconm-exit:before {content: "\e040";}
.iconm-loop:before {content: "\e041";}
.iconm-arrow-up:before {content: "\e042";}
.iconm-arrow-right:before {content: "\e043";}
.iconm-arrow-down:before {content: "\e044";}
.iconm-arrow-left:before {content: "\e045";}
.iconm-arrow-up-left:before {content: "\e046";}
.iconm-arrow-up-2:before {content: "\e047";}
.iconm-arrow-up-right:before {content: "\e048";}
.iconm-arrow-right-2:before {content: "\e049";}
.iconm-arrow-down-right:before {content: "\e04a";}
.iconm-arrow-down-2:before {content: "\e04b";}
.iconm-arrow-down-left:before {content: "\e04c";}
.iconm-arrow-left-2:before {content: "\e04d";}
.iconm-arrow-up-left-2:before {content: "\e04e";}
.iconm-arrow-up-3:before {content: "\e04f";}
.iconm-arrow-up-right-2:before {content: "\e050";}
.iconm-arrow-right-3:before {content: "\e051";}
.iconm-arrow-down-right-2:before {content: "\e052";}
.iconm-arrow-down-3:before {content: "\e053";}
.iconm-arrow-down-left-2:before {content: "\e054";}
.iconm-arrow-left-3:before {content: "\e055";}
.iconm-arrow-up-left-3:before {content: "\e056";}
.iconm-arrow-up-4:before {content: "\e057";}
.iconm-arrow-up-right-3:before {content: "\e058";}
.iconm-arrow-right-4:before {content: "\e059";}
.iconm-arrow-down-right-3:before {content: "\e05a";}
.iconm-arrow-down-4:before {content: "\e05b";}
.iconm-arrow-down-left-3:before {content: "\e05c";}
.iconm-arrow-left-4:before {content: "\e05d";}
.iconm-arrow-up-5:before {content: "\e05e";}
.iconm-arrow-right-5:before {content: "\e05f";}
.iconm-arrow-down-5:before {content: "\e060";}
.iconm-arrow-left-5:before {content: "\e061";}
.iconm-arrow-up-6:before {content: "\e062";}
.iconm-arrow-right-6:before {content: "\e063";}
.iconm-arrow-down-6:before {content: "\e064";}
.iconm-arrow-left-6:before {content: "\e065";}
.iconm-arrow-up-7:before {content: "\e066";}
.iconm-arrow-right-7:before {content: "\e067";}
.iconm-arrow-down-7:before {content: "\e068";}
.iconm-arrow-left-7:before {content: "\e069";}
.iconm-menu-3:before {content: "\e06a";}
.iconm-enter-2:before {content: "\e06b";}
.iconm-backspace:before {content: "\e06c";}
.iconm-backspace-2:before {content: "\e06d";}
.iconm-tab:before {content: "\e06e";}
.iconm-tab-2:before {content: "\e06f";}
.iconm-checkbox:before {content: "\e070";}
.iconm-checkbox-unchecked:before {content: "\e071";}
.iconm-checkbox-partial:before {content: "\e072";}
.iconm-radio-checked:before {content: "\e073";}
.iconm-radio-unchecked:before {content: "\e074";}
.iconm-font:before {content: "\e075";}
.iconm-paragraph-left:before {content: "\e076";}
.iconm-paragraph-center:before {content: "\e077";}
.iconm-paragraph-right:before {content: "\e078";}
.iconm-left-to-right:before {content: "\e079";}
.iconm-right-to-left:before {content: "\e07a";}
.iconm-out:before {content: "\e07b";}
.iconm-out-2:before {content: "\e07c";}
.iconm-embed:before {content: "\e07d";}
.iconm-seven-segment:before {content: "\e07e";}
.iconm-seven-segment-2:before {content: "\e07f";}
.iconm-seven-segment-3:before {content: "\e080";}
.iconm-seven-segment-4:before {content: "\e081";}
.iconm-seven-segment-5:before {content: "\e082";}
.iconm-seven-segment-6:before {content: "\e083";}
.iconm-seven-segment-7:before {content: "\e084";}
.iconm-seven-segment-8:before {content: "\e085";}
.iconm-seven-segment-9:before {content: "\e086";}
.iconm-seven-segment-10:before {content: "\e087";}
.iconm-bluetooth:before {content: "\e088";}
.iconm-share:before {content: "\e089";}
.iconm-share-2:before {content: "\e08a";}
.iconm-mail-2:before {content: "\e08b";}
.iconm-google-plus:before {content: "\e08c";}
.iconm-google-plus-2:before {content: "\e08d";}
.iconm-google-plus-3:before {content: "\e08e";}
.iconm-facebook:before {content: "\e08f";}
.iconm-facebook-2:before {content: "\e090";}
.iconm-twitter:before {content: "\e091";}
.iconm-twitter-2:before {content: "\e092";}
.iconm-twitter-3:before {content: "\e093";}
.iconm-twitter-4:before {content: "\e094";}
.iconm-feed:before {content: "\e095";}
.iconm-feed-2:before {content: "\e096";}
.iconm-youtube:before {content: "\e097";}
.iconm-youtube-2:before {content: "\e098";}
.iconm-vimeo:before {content: "\e099";}
.iconm-vimeo-2:before {content: "\e09a";}
.iconm-flickr:before {content: "\e09b";}
.iconm-flickr-2:before {content: "\e09c";}
.iconm-picassa:before {content: "\e09d";}
.iconm-picassa-2:before {content: "\e09e";}
.iconm-dribbble:before {content: "\e09f";}
.iconm-dribbble-2:before {content: "\e0a0";}
.iconm-forrst:before {content: "\e0a1";}
.iconm-forrst-2:before {content: "\e0a2";}
.iconm-deviantart:before {content: "\e0a3";}
.iconm-deviantart-2:before {content: "\e0a4";}
.iconm-github:before {content: "\e0a5";}
.iconm-github-2:before {content: "\e0a6";}
.iconm-github-3:before {content: "\e0a7";}
.iconm-github-4:before {content: "\e0a8";}
.iconm-wordpress:before {content: "\e0a9";}
.iconm-wordpress-2:before {content: "\e0aa";}
.iconm-blogger:before {content: "\e0ab";}
.iconm-blogger-2:before {content: "\e0ac";}
.iconm-tumblr:before {content: "\e0ad";}
.iconm-tumblr-2:before {content: "\e0ae";}
.iconm-yahoo:before {content: "\e0af";}
.iconm-yahoo-2:before {content: "\e0b0";}
.iconm-amazon:before {content: "\e0b1";}
.iconm-amazon-2:before {content: "\e0b2";}
.iconm-apple:before {content: "\e0b3";}
.iconm-android:before {content: "\e0b4";}
.iconm-windows:before {content: "\e0b5";}
.iconm-soundcloud:before {content: "\e0b6";}
.iconm-soundcloud-2:before {content: "\e0b7";}
.iconm-skype:before {content: "\e0b8";}
.iconm-reddit:before {content: "\e0b9";}
.iconm-linkedin:before {content: "\e0ba";}
.iconm-lastfm:before {content: "\e0bb";}
.iconm-lastfm-2:before {content: "\e0bc";}
.iconm-delicious:before {content: "\e0bd";}
.iconm-stumbleupon:before {content: "\e0be";}
.iconm-stumbleupon-2:before {content: "\e0bf";}
.iconm-pinterest:before {content: "\e0c0";}
.iconm-pinterest-2:before {content: "\e0c1";}
.iconm-xing:before {content: "\e0c2";}
.iconm-libreoffice:before {content: "\e0c3";}
.iconm-file-pdf:before {content: "\e0c4";}
.iconm-file-openoffice:before {content: "\e0c5";}
.iconm-file-word:before {content: "\e0c6";}
.iconm-file-excel:before {content: "\e0c7";}
.iconm-file-powerpoint:before {content: "\e0c8";}
.iconm-file-xml:before {content: "\e0c9";}
.iconm-file-css:before {content: "\e0ca";}
.iconm-html5:before {content: "\e0cb";}
.iconm-html5-2:before {content: "\e0cc";}
.iconm-css3:before {content: "\e0cd";}
.iconm-IcoMoon:before {content: "\e0ce";}
.iconm-popup:before {content: "\e0cf";}
.iconm-book-2:before {content: "\e0d0";}
.iconm-bookmark-3:before {content: "\e0d1";}
.iconm-home-4:before {content: "\e0d2";}
.iconm-keyboard:before {content: "\e0d3";}
.iconm-feather:before {content: "\e0d4";}
.iconm-network:before {content: "\e0d5";}
.iconm-inbox:before {content: "\e0d6";}
.iconm-square:before {content: "\e0d7";}
.iconm-globe:before {content: "\e0d8";}
.iconm-broadcast-2:before {content: "\e0d9";}
.iconm-arrow:before {content: "\e0da";}
.iconm-screen-2:before {content: "\e0db";}
.iconm-publish:before {content: "\e0dc";}
.iconm-browser:before {content: "\e0dd";}
.iconm-light-bulb:before {content: "\e0de";}
.iconm-sun:before {content: "\e0df";}
.iconm-sun-2:before {content: "\e0e0";}
.iconm-back:before {content: "\e0e1";}
.iconm-history-2:before {content: "\e0e2";}
.iconm-battery:before {content: "\e0e3";}
.iconm-battery-2:before {content: "\e0e4";}
.iconm-battery-3:before {content: "\e0e5";}
.iconm-battery-4:before {content: "\e0e6";}
.iconm-battery-5:before {content: "\e0e7";}
.iconm-code:before {content: "\e0e8";}
.iconm-triangle:before {content: "\e0e9";}
.iconm-triangle-2:before {content: "\e0ea";}
.iconm-triangle-3:before {content: "\e0eb";}
.iconm-triangle-4:before {content: "\e0ec";}
.iconm-arrow-2:before {content: "\e0ed";}
.iconm-arrow-3:before {content: "\e0ee";}
.iconm-arrow-4:before {content: "\e0ef";}
.iconm-arrow-5:before {content: "\e0f0";}
.iconm-arrow-6:before {content: "\e0f1";}
.iconm-arrow-7:before {content: "\e0f2";}
.iconm-arrow-8:before {content: "\e0f3";}
.iconm-arrow-9:before {content: "\e0f4";}
.iconm-arrow-10:before {content: "\e0f5";}
.iconm-arrow-11:before {content: "\e0f6";}
.iconm-arrow-12:before {content: "\e0f7";}
.iconm-arrow-13:before {content: "\e0f8";}
.iconm-arrow-14:before {content: "\e0f9";}
.iconm-arrow-15:before {content: "\e0fa";}
.iconm-arrow-16:before {content: "\e0fb";}
.iconm-arrow-17:before {content: "\e0fc";}
.iconm-arrow-18:before {content: "\e0fd";}
.iconm-arrow-19:before {content: "\e0fe";}
.iconm-arrow-20:before {content: "\e0ff";}
.iconm-arrow-21:before {content: "\e100";}
.iconm-mute:before {content: "\e101";}
.iconm-sound:before {content: "\e102";}
.iconm-volume:before {content: "\e103";}
.iconm-collapse:before {content: "\e104";}
.iconm-full-screen:before {content: "\e105";}
.iconm-last:before {content: "\e106";}
.iconm-first:before {content: "\e107";}
.iconm-fast-backward:before {content: "\e108";}
.iconm-fast-forward:before {content: "\e109";}
.iconm-stop:before {content: "\e10a";}
.iconm-record:before {content: "\e10b";}
.iconm-pause:before {content: "\e10c";}
.iconm-play-2:before {content: "\e10d";}
.iconm-upload-3:before {content: "\e10e";}
.iconm-cloud-3:before {content: "\e10f";}
.iconm-install:before {content: "\e110";}
.iconm-download-2:before {content: "\e111";}
.iconm-upload-4:before {content: "\e112";}
.iconm-trashcan:before {content: "\e113";}
.iconm-archive:before {content: "\e114";}
.iconm-folder-3:before {content: "\e115";}
.iconm-song:before {content: "\e116";}
.iconm-movie:before {content: "\e117";}
.iconm-images:before {content: "\e118";}
.iconm-landscape:before {content: "\e119";}
.iconm-documents:before {content: "\e11a";}
.iconm-document:before {content: "\e11b";}
.iconm-document-2:before {content: "\e11c";}
.iconm-grid:before {content: "\e11d";}
.iconm-add:before {content: "\e11e";}
.iconm-list:before {content: "\e11f";}
.iconm-retweet:before {content: "\e120";}
.iconm-arrow-22:before {content: "\e121";}
.iconm-back-2:before {content: "\e122";}
.iconm-shuffle:before {content: "\e123";}
.iconm-reload-CCW:before {content: "\e124";}
.iconm-reload-CW:before {content: "\e125";}
.iconm-warning:before {content: "\e126";}
.iconm-help-3:before {content: "\e127";}
.iconm-help-4:before {content: "\e128";}
.iconm-info-circle:before {content: "\e129";}
.iconm-info-2:before {content: "\e12a";}
.iconm-blocked-2:before {content: "\e12b";}
.iconm-plus-3:before {content: "\e12c";}
.iconm-minus-3:before {content: "\e12d";}
.iconm-close:before {content: "\e12e";}
.iconm-plus-4:before {content: "\e12f";}
.iconm-minus-4:before {content: "\e130";}
.iconm-cancel-4:before {content: "\e131";}
.iconm-checkmark-2:before {content: "\e132";}
.iconm-unlocked-2:before {content: "\e133";}
.iconm-locked-2:before {content: "\e134";}
.iconm-rss:before {content: "\e135";}
.iconm-time:before {content: "\e136";}
.iconm-flash:before {content: "\e137";}
.iconm-calendar-2:before {content: "\e138";}
.iconm-microphone-2:before {content: "\e139";}
.iconm-clock-2:before {content: "\e13a";}
.iconm-eye-3:before {content: "\e13b";}
.iconm-google-circles:before {content: "\e13c";}
.iconm-support-2:before {content: "\e13d";}
.iconm-flight:before {content: "\e13e";}
.iconm-shopping:before {content: "\e13f";}
.iconm-music-2:before {content: "\e140";}
.iconm-leaf:before {content: "\e141";}
.iconm-palette:before {content: "\e142";}
.iconm-sleep:before {content: "\e143";}
.iconm-camera-3:before {content: "\e144";}
.iconm-price:before {content: "\e145";}
.iconm-trophy-2:before {content: "\e146";}
.iconm-search-3:before {content: "\e147";}
.iconm-settings:before {content: "\e148";}
.iconm-flag-4:before {content: "\e149";}
.iconm-link-3:before {content: "\e14a";}
.iconm-alert:before {content: "\e14b";}
.iconm-printer:before {content: "\e14c";}
.iconm-quote:before {content: "\e14d";}
.iconm-comment:before {content: "\e14e";}
.iconm-chat:before {content: "\e14f";}
.iconm-thumbs-up-2:before {content: "\e150";}
.iconm-star-4:before {content: "\e151";}
.iconm-star-5:before {content: "\e152";}
.iconm-heart-3:before {content: "\e153";}
.iconm-heart-4:before {content: "\e154";}
.iconm-share-3:before {content: "\e155";}
.iconm-center:before {content: "\e156";}
.iconm-direction:before {content: "\e157";}
.iconm-compass-2:before {content: "\e158";}
.iconm-map:before {content: "\e159";}
.iconm-location-2:before {content: "\e15a";}
.iconm-export:before {content: "\e15b";}
.iconm-card:before {content: "\e15c";}
.iconm-contact:before {content: "\e15d";}
.iconm-users:before {content: "\e15e";}
.iconm-user-4:before {content: "\e15f";}
.iconm-forward-2:before {content: "\e160";}
.iconm-reply-to-all:before {content: "\e161";}
.iconm-reply-3:before {content: "\e162";}
.iconm-attachment:before {content: "\e163";}
.iconm-write:before {content: "\e164";}
.iconm-email:before {content: "\e165";}
.iconm-address:before {content: "\e166";}
.iconm-mouse-2:before {content: "\e167";}
.iconm-mobile-3:before {content: "\e168";}
.iconm-phone-2:before {content: "\e169";}
.iconm-paperclip:before {content: "\e16a";}
.iconm-fork:before {content: "\e16b";}
.iconm-cloud-upload:before {content: "\e16c";}
.iconm-cloud-download:before {content: "\e16d";}
.iconm-upload-5:before {content: "\e16e";}
.iconm-download-3:before {content: "\e16f";}
.iconm-target-3:before {content: "\e170";}
.iconm-map-pin-alt:before {content: "\e171";}
.iconm-map-pin-fill:before {content: "\e172";}
.iconm-map-pin-stroke:before {content: "\e173";}
.iconm-star-6:before {content: "\e174";}
.iconm-umbrella:before {content: "\e175";}
.iconm-rain:before {content: "\e176";}
.iconm-cloud-4:before {content: "\e177";}
.iconm-moon-fill:before {content: "\e178";}
.iconm-moon-stroke:before {content: "\e179";}
.iconm-sun-fill:before {content: "\e17a";}
.iconm-sun-stroke:before {content: "\e17b";}
.iconm-tag-fill:before {content: "\e17c";}
.iconm-tag-stroke:before {content: "\e17d";}
.iconm-unlock-fill:before {content: "\e17e";}
.iconm-unlock-stroke:before {content: "\e17f";}
.iconm-lock-fill:before {content: "\e180";}
.iconm-lock-stroke:before {content: "\e181";}
.iconm-clock-3:before {content: "\e182";}
.iconm-home-5:before {content: "\e183";}
.iconm-user-5:before {content: "\e184";}
.iconm-eye-4:before {content: "\e185";}
.iconm-bars-alt:before {content: "\e186";}
.iconm-bars-2:before {content: "\e187";}
.iconm-chart-alt:before {content: "\e188";}
.iconm-chart:before {content: "\e189";}
.iconm-aperture-alt:before {content: "\e18a";}
.iconm-aperture:before {content: "\e18b";}
.iconm-camera-4:before {content: "\e18c";}
.iconm-image:before {content: "\e18d";}
.iconm-layers:before {content: "\e18e";}
.iconm-layers-alt:before {content: "\e18f";}
.iconm-eyedropper:before {content: "\e190";}
.iconm-brush-alt:before {content: "\e191";}
.iconm-brush:before {content: "\e192";}
.iconm-pen-alt2:before {content: "\e193";}
.iconm-pen-alt-fill:before {content: "\e194";}
.iconm-pen-alt-stroke:before {content: "\e195";}
.iconm-pen:before {content: "\e196";}
.iconm-book-alt2:before {content: "\e197";}
.iconm-book-alt:before {content: "\e198";}
.iconm-book-3:before {content: "\e199";}
.iconm-list-nested:before {content: "\e19a";}
.iconm-list-2:before {content: "\e19b";}
.iconm-read-more:before {content: "\e19c";}
.iconm-article:before {content: "\e19d";}
.iconm-right-quote-alt:before {content: "\e19e";}
.iconm-left-quote-alt:before {content: "\e19f";}
.iconm-right-quote:before {content: "\e1a0";}
.iconm-left-quote:before {content: "\e1a1";}
.iconm-hash:before {content: "\e1a2";}
.iconm-pilcrow:before {content: "\e1a3";}
.iconm-question-mark:before {content: "\e1a4";}
.iconm-info-3:before {content: "\e1a5";}
.iconm-ampersand:before {content: "\e1a6";}
.iconm-at:before {content: "\e1a7";}
.iconm-folder-fill:before {content: "\e1a8";}
.iconm-folder-stroke:before {content: "\e1a9";}
.iconm-box:before {content: "\e1aa";}
.iconm-compass-3:before {content: "\e1ab";}
.iconm-battery-charging:before {content: "\e1ac";}
.iconm-battery-full:before {content: "\e1ad";}
.iconm-battery-half:before {content: "\e1ae";}
.iconm-battery-empty:before {content: "\e1af";}
.iconm-iphone:before {content: "\e1b0";}
.iconm-fullscreen-alt:before {content: "\e1b1";}
.iconm-fullscreen:before {content: "\e1b2";}
.iconm-fullscreen-exit-alt:before {content: "\e1b3";}
.iconm-fullscreen-exit:before {content: "\e1b4";}
.iconm-play-alt:before {content: "\e1b5";}
.iconm-last-2:before {content: "\e1b6";}
.iconm-first-2:before {content: "\e1b7";}
.iconm-eject:before {content: "\e1b8";}
.iconm-stop-2:before {content: "\e1b9";}
.iconm-pause-2:before {content: "\e1ba";}
.iconm-play-3:before {content: "\e1bb";}
.iconm-volume-mute:before {content: "\e1bc";}
.iconm-volume-2:before {content: "\e1bd";}
.iconm-headphones:before {content: "\e1be";}
.iconm-microphone-3:before {content: "\e1bf";}
.iconm-steering-wheel:before {content: "\e1c0";}
.iconm-cd:before {content: "\e1c1";}
.iconm-arrow-down-alt2:before {content: "\e1c2";}
.iconm-arrow-down-alt1:before {content: "\e1c3";}
.iconm-arrow-down-8:before {content: "\e1c4";}
.iconm-arrow-up-alt2:before {content: "\e1c5";}
.iconm-arrow-up-alt1:before {content: "\e1c6";}
.iconm-arrow-up-8:before {content: "\e1c7";}
.iconm-arrow-right-alt2:before {content: "\e1c8";}
.iconm-arrow-right-alt1:before {content: "\e1c9";}
.iconm-arrow-right-8:before {content: "\e1ca";}
.iconm-arrow-left-alt2:before {content: "\e1cb";}
.iconm-arrow-left-alt1:before {content: "\e1cc";}
.iconm-arrow-left-8:before {content: "\e1cd";}
.iconm-move-horizontal-alt2:before {content: "\e1ce";}
.iconm-move-horizontal-alt1:before {content: "\e1cf";}
.iconm-move-horizontal:before {content: "\e1d0";}
.iconm-move-vertical-alt2:before {content: "\e1d1";}
.iconm-move-vertical-alt1:before {content: "\e1d2";}
.iconm-move-vertical:before {content: "\e1d3";}
.iconm-transfer:before {content: "\e1d4";}
.iconm-loop-alt4:before {content: "\e1d5";}
.iconm-loop-alt3:before {content: "\e1d6";}
.iconm-loop-alt2:before {content: "\e1d7";}
.iconm-loop-alt1:before {content: "\e1d8";}
.iconm-loop-2:before {content: "\e1d9";}
.iconm-reload-alt:before {content: "\e1da";}
.iconm-reload:before {content: "\e1db";}
.iconm-undo-2:before {content: "\e1dc";}
.iconm-curved-arrow:before {content: "\e1dd";}
.iconm-spin:before {content: "\e1de";}
.iconm-spin-alt:before {content: "\e1df";}
.iconm-lightbulb:before {content: "\e1e0";}
.iconm-new-window:before {content: "\e1e1";}
.iconm-key-fill:before {content: "\e1e2";}
.iconm-key-stroke:before {content: "\e1e3";}
.iconm-beaker:before {content: "\e1e4";}
.iconm-beaker-alt:before {content: "\e1e5";}
.iconm-trash-fill:before {content: "\e1e6";}
.iconm-trash-stroke:before {content: "\e1e7";}
.iconm-magnifying-glass:before {content: "\e1e8";}
.iconm-award-stroke:before {content: "\e1e9";}
.iconm-award-fill:before {content: "\e1ea";}
.iconm-equalizer-2:before {content: "\e1eb";}
.iconm-move-alt2:before {content: "\e1ec";}
.iconm-move-alt1:before {content: "\e1ed";}
.iconm-move:before {content: "\e1ee";}
.iconm-bolt:before {content: "\e1ef";}
.iconm-link-4:before {content: "\e1f0";}
.iconm-pin:before {content: "\e1f1";}
.iconm-minus-alt:before {content: "\e1f2";}
.iconm-minus-5:before {content: "\e1f3";}
.iconm-plus-alt:before {content: "\e1f4";}
.iconm-plus-5:before {content: "\e1f5";}
.iconm-document-fill:before {content: "\e1f6";}
.iconm-document-stroke:before {content: "\e1f7";}
.iconm-document-alt-fill:before {content: "\e1f8";}
.iconm-document-alt-stroke:before {content: "\e1f9";}
.iconm-movie-2:before {content: "\e1fa";}
.iconm-heart-fill:before {content: "\e1fb";}
.iconm-heart-stroke:before {content: "\e1fc";}
.iconm-mail-3:before {content: "\e1fd";}
.iconm-share-4:before {content: "\e1fe";}
.iconm-calendar-alt-fill:before {content: "\e1ff";}
.iconm-calendar-alt-stroke:before {content: "\e200";}
.iconm-calendar-3:before {content: "\e201";}
.iconm-cog-2:before {content: "\e202";}
.iconm-dial:before {content: "\e203";}
.iconm-wrench-2:before {content: "\e204";}
.iconm-rss-alt:before {content: "\e205";}
.iconm-rss-2:before {content: "\e206";}
.iconm-cursor:before {content: "\e207";}
.iconm-denied:before {content: "\e208";}
.iconm-x-altx-alt:before {content: "\e209";}
.iconm-x:before {content: "\e20a";}
.iconm-check-alt:before {content: "\e20b";}
.iconm-checkmark-3:before {content: "\e20c";}
.iconm-comment-alt2-fill:before {content: "\e20d";}
.iconm-comment-alt2-stroke:before {content: "\e20e";}
.iconm-comment-fill:before {content: "\e20f";}
.iconm-comment-stroke:before {content: "\e210";}
.iconm-comment-alt1-fill:before {content: "\e211";}
.iconm-comment-alt1-stroke:before {content: "\e212";}
.iconm-chat-alt-fill:before {content: "\e213";}
.iconm-chat-alt-stroke:before {content: "\e214";}
.iconm-chat-2:before {content: "\e215";}
.iconm-Fahrenheit:before {content: "\e216";}
.iconm-Celsius:before {content: "\e217";}
.iconm-none:before {content: "\e218";}
.iconm-compass-4:before {content: "\e219";}
.iconm-thermometer:before {content: "\e21a";}
.iconm-lightning-2:before {content: "\e21b";}
.iconm-cloudy:before {content: "\e21c";}
.iconm-weather:before {content: "\e21d";}
.iconm-snowy:before {content: "\e21e";}
.iconm-snowy-2:before {content: "\e21f";}
.iconm-windy:before {content: "\e220";}.iconm-windy-2:before {content: "\e221";}
.iconm-rainy:before {content: "\e222";}
.iconm-rainy-2:before {content: "\e223";}
.iconm-lightning-3:before {content: "\e224";}
.iconm-cloud-5:before {content: "\e225";}
.iconm-cloud-6:before {content: "\e226";}
.iconm-cloudy-2:before {content: "\e227";}
.iconm-moon:before {content: "\e228";}
.iconm-sun-3:before {content: "\e229";}
.iconm-lightning-4:before {content: "\e22a";}
.iconm-cloud-7:before {content: "\e22b";}
.iconm-cloudy-3:before {content: "\e22c";}
.iconm-weather-2:before {content: "\e22d";}
.iconm-snowy-3:before {content: "\e22e";}
.iconm-snowy-4:before {content: "\e22f";}
.iconm-snowy-5:before {content: "\e230";}
.iconm-windy-3:before {content: "\e231";}
.iconm-windy-4:before {content: "\e232";}
.iconm-rainy-3:before {content: "\e233";}
.iconm-rainy-4:before {content: "\e234";}
.iconm-lightning-5:before {content: "\e235";}
.iconm-lightning-6:before {content: "\e236";}
.iconm-cloud-8:before {content: "\e237";}
.iconm-lines:before {content: "\e238";}
.iconm-weather-3:before {content: "\e239";}
.iconm-weather-4:before {content: "\e23a";}
.iconm-weather-5:before {content: "\e23b";}
.iconm-cloud-9:before {content: "\e23c";}
.iconm-cloudy-4:before {content: "\e23d";}
.iconm-snowflake:before {content: "\e23e";}
.iconm-wind:before {content: "\e23f";}
.iconm-windy-5:before {content: "\e240";}
.iconm-sun-4:before {content: "\e241";}
.iconm-moon-2:before {content: "\e242";}
.iconm-sun-5:before {content: "\e243";}
.iconm-sunrise:before {content: "\e244";}
