/* Import Google Web Fonts
------------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);
/*font-family: 'Ubuntu', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
/*font-family: 'Open Sans', sans-serif;*/
