/* LayerSlider Minimal Skin */



.ls-minimal {
    margin-top: 20px;
	padding: 10px;
	background: #fff;
	/*box-shadow: 0px 10px 150px -50px #000;*/
}

.ls-minimal .ls-bottom-nav-wrapper {
	text-align: center;
	margin: 10px auto 0px auto;
	position: relative;
}

.ls-minimal .ls-playvideo {
	width: 75px;
	height: 75px;
	margin-left: -37px;
	margin-top: -37px;
}

.ls-minimal .ls-playvideo,
.ls-minimal .ls-nav-sides,
.ls-minimal .ls-bottom-slidebuttons a,
.ls-minimal .ls-nav-prev,
.ls-minimal .ls-nav-next,
.ls-minimal .ls-nav-start,
.ls-minimal .ls-nav-stop {
	background-image: url(skin.png);	
}

.ls-minimal .ls-playvideo {
	background-position: -300px -150px;
}

.ls-minimal .ls-playvideo:hover,
.ls-minimal .ls-vpcontainer:hover .ls-playvideo {
	background-position: -375px -150px;
}

.ls-minimal .ls-nav-prev {
	background-position: 0px 0px;
}

.ls-minimal .ls-nav-prev:hover {
	background-position: 0px -75px;
}

.ls-minimal .ls-nav-next {
	background-position: -150px 0px;
}

.ls-minimal .ls-nav-next:hover {
	background-position: -150px -75px;
}

.ls-minimal .ls-nav-start {
	background-position: -300px 0px;
}

.ls-minimal .ls-nav-start:hover,
.ls-minimal .ls-nav-start-active {
	background-position: -300px -75px;
}

.ls-minimal .ls-nav-stop {
	background-position: -450px 0px;
}

.ls-minimal .ls-nav-stop:hover,
.ls-minimal .ls-nav-stop-active {
	background-position: -450px -75px;
}

.ls-minimal .ls-bottom-slidebuttons a {
	background-position: 0px -150px;
}

.ls-minimal .ls-bottom-slidebuttons a.ls-nav-active,
.ls-minimal .ls-bottom-slidebuttons a:hover {
	background-position: -75px -150px;
}

.ls-minimal .ls-nav-sideleft {
	background-position: -150px -150px;	
}

.ls-minimal .ls-nav-sideright {
	background-position: -225px -150px;	
}



.ls-minimal .ls-nav-prev,
.ls-minimal .ls-nav-next {
	width: 25px;
	height: 50px;
	z-index: 10000;
	top: 50%;
	margin-top: -25px;	
	position: absolute;
}

.ls-minimal .ls-nav-prev {
	/*left: -25px;*/
	left: 10px;
}

.ls-minimal .ls-nav-next {
	/*right: -25px;*/
	right: 10px;
}



.ls-minimal .ls-bottom-slidebuttons,
.ls-minimal .ls-bottom-slidebuttons a,
.ls-minimal .ls-nav-start,
.ls-minimal .ls-nav-stop,
.ls-minimal .ls-nav-sides {
	height: 30px;
}

.ls-minimal .ls-bottom-slidebuttons,
.ls-minimal .ls-bottom-slidebuttons a,
.ls-minimal .ls-nav-start,
.ls-minimal .ls-nav-stop,
.ls-minimal .ls-nav-sides {
	display: inline-block;
}

.ls-minimal .ls-nav-start,
.ls-minimal .ls-nav-stop {
	width: 22px;
}

.ls-minimal .ls-bottom-slidebuttons a {
	width: 17px;
}

.ls-minimal .ls-nav-sides {
	width: 4px;
}



.ls-minimal .ls-thumbnail-hover {
	bottom: 50px;
	padding: 4px;
	margin-left: 1px;
}

.ls-minimal .ls-thumbnail-hover-bg {
	background: white;
}

.ls-minimal .ls-thumbnail-hover span {
	border: 5px solid white;
	margin-left: -5px;
}



.ls-minimal .ls-thumbnail {
	top: -20px;
}

.ls-minimal .ls-thumbnail-inner {
	padding: 5px;
	margin-left: -5px;
	background: white;
}

.ls-minimal .ls-thumbnail-slide a {
	margin-right: 5px;
}

.ls-minimal .ls-nothumb {
	background: #eee;
}



.ls-minimal .ls-above-thumbnails {
	display: none;
}

.ls-minimal .ls-below-thumbnails {
	display: block;
	/*margin-top: -20px;*/
	margin-top: -110px;
}
